*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  max-width: 1400px;
  /* border: 1px solid red; */
  margin-inline: auto;
  overflow-y: hidden;
  height: 100vh;
  justify-content: center;
}

.preson {
  display: flex;
  flex-direction: column;
align-items: center;
}